.RestaurantsMap.leaflet-container { 
    height: 50%; 
    width: 50%; 
    margin-left: auto; 
    margin-right: auto;
    border-radius: 3%;
}

.PopUp .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-auto-rows: 110px;
    justify-content: center;
}

.PopUp img {
    height: 105px;
    width: 130px;
    object-fit: cover;
    padding: 5px;
    border-radius: 15px;
    align-items: center;
    margin: 0px auto;
}