.RestaurantsMap.leaflet-container { 
    height: 50%; 
    width: 50%; 
    margin-left: auto; 
    margin-right: auto;
    border-radius: 3%;
}

.PopUp {
    height: 150px;
    width: 180px;
    text-size-adjust:inherit; 
}

img {
    height: 140px;
    width: 140px;
    object-fit: cover;
    padding: 0px;
}